#head {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#head h1 {
    text-align: center;
    vertical-align: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    flex-basis: auto;
    transform: skew(-0.1deg);
}
#head div{
    display: inline-block;
    height: 65px;
    text-align: center;
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;

}
#head #baedangdiv{
    flex: 1;
    display: inline;
}
#head #baedangdiv h1{
    display: inline;
}
#head #baedangdiv h1{
    flex: 1;
    font-weight: 500;
    padding-bottom: 15px;
}

#head h2{
    display: inline-block;
    text-align: center;
    font-style: normal;
    flex: 0;
    flex-basis: auto;
    transform: skew(-0.1deg);

}
#head:before{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#moneyshow{
    text-align: center;
    display: inline-block;
    background-color: burlywood;
    height: 70px;
    width: 370px;
}
