* {
    box-sizing: border-box;
    overflow:hidden
}
body {
    height: 500px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}
#head h1 {
    text-align: center;
    vertical-align: center;
    margin: auto;
    color: white;
}
.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.name {
    color: #fff;
}

.submit {
    width: 115px;
    color: rgba(0,0,0,1);
    position: relative;
    font-weight: normal;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.betinput {
    width: 250px;
    height: 100px;
    background: rgba(255,255,255,1);
    opacity: 1;
    overflow: hidden;
    position: relative;
    font-size:30px;
}
#mollu {
    text-align: center;
    width: 70%;
    background-color: coral;
}
