* {
    margin: 0 auto;
    padding: 0;
}

#head {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
}
#head h1 {
    text-align: center;
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    flex: 0;
    flex-basis: auto;
}
.game h2{
    padding: 25px;
}
#moneyshow {
    text-align: center;
    display: inline-block;
    height: 70px;
    width: 370px;
}
#body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#body div{
    width: 350px;
    height: 350px;
    background-color: aqua;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    justify-self: center;
    border-radius: 15px;
    border-bottom: 4px solid #ccc;
    border-right: 3px solid #ccc;
}

#body div img{
    display:block;
    width:70%;
    height:auto;
    margin: auto;
}
#money{
    text-align: center;
    margin: auto;
}


